<div class="modal__overlay">
  <div class="modal">
    <div class="modal__content">
      <h2 class="title">Add/Edit article</h2>
      <div class="inputs__container">
        <input [(ngModel)]="tempArticle.title" type="text" class="input" placeholder="Please enter title">
        <input [(ngModel)]="tempArticle.tag" type="text" class="input" placeholder="Please enter tag">
        <input [(ngModel)]="tempArticle.author" type="text" class="input" placeholder="Please enter author">
        <input [(ngModel)]="tempArticle.date" type="text" class="input" placeholder="Please enter date">
        <input [(ngModel)]="tempArticle.imgUrl" type="text" class="input" placeholder="Please enter image url">
        <input [(ngModel)]="tempArticle.saying" type="text" class="input" placeholder="Please enter saying">
      </div>
      <textarea [(ngModel)]="tempArticle.content" class="textarea" name="content" cols="28" rows="7"
                placeholder="Please enter content"></textarea>
      <div class="modal__buttons">
        <button type="button" class="button" (click)="onClose()">Cancel</button>
        <button type="button" class="button button--pink" (click)="onSave()">Save</button>
      </div>
    </div>
  </div>
</div>
